@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-banner {
    background-image: url('./src/Assets/banner-toast.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    min-height: 100%;
    height: auto;
    width: 100%;
    max-height: 847px;
}

.thumbs-active {
    opacity: 1;
}

.thumbs-active>span {
    visibility: visible;
}



@media (max-width: 768px) {
    .thumbs-active>div {
        visibility: visible;
    }

}